* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

header #highscore {
    color: blueviolet;
}

#page {
    height: 50vh;
    display: flex;
}

main {
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
}

#starting-screen p {
    font-size: 20px;
    max-width: 60vw;
    padding: 15px 0 15px 0;
}

#starting-screen h1 {
    font-size: 30px;
}

.btn {
    text-decoration: none;
    padding: 10px;
    background-color: blueviolet;
    border: transparent solid 2px;
    border-radius: 10px;
    font-size: 17px;
    color: white;
    margin-top: 20px;
}

.btn:hover {
    background-color: blueviolet;
    opacity: 50%;
}

.btn:active {
    background-color: blueviolet;
    opacity: 50%;
}

#block {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin: auto;
}

#highscoreBtn {
    background: none;
	color: blueviolet;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    
}

#highScoreSection {
    justify-content: center;
    flex-direction: column;
    
}

footer {
    font-size: 20px;
    max-width: 60vw;
    margin: auto;
    margin-top: 40px;
    border-top: solid black 3px;
}